@charset "utf-8";
/* CodeBrusher by yumena.me */
/* Version 0.1.3 */

body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family: "Microsoft Yahei", Helvetica, sans-serif;
	color:#333;
	line-height:20px;
}
.main{
	margin: 20px;
	width: 700px;
}

pre.prettyprint {
  white-space: pre-wrap;
  padding: 5px;
  margin:5px 0;
  font-size: 12px;
  line-height:15px;
  font-family: monospace;
  opacity: 0.88;
  background-color: #141414;
  color: #F8F8F8;
  border-left:solid 4px #1187ed;
  border-left:solid 4px rgba(17, 135, 237, 0.8);
  border-radius:0 4px 4px 0;
}


pre span.code_kw{color:#f92672;}
pre span.code_purple{color:#ae81ff;}
pre span.code_blue{color:#66d9ef;}
pre span.code_pink{color:#f92672;}
pre span.code_green{color:#a6e22e;}
pre span.code_yellow{color:#fd971f;}
pre span.code_str{color:#e6db74;}
pre span.code_note{color:#75715e;}
hr{display:none;}